# task1

### Q1

In [71]:
def My_func(x1,x2,x3):
    try:
        counter = (x1+x2+x3)*(x2+x3)*x3
        denominator = x1+x2+x3
        if (isinstance(x1, int)) or (isinstance(x2, int)) or (isinstance(x3, int)):
            print("Error: parameters should be a float")
        elif denominator == 0:
            print("Not a number - denominator equals zero")
        else:
            result = counter/denominator
            return result
    except:
        if type(x1) is not float or type(x2) is not float or type(x3) is not float:
            print("None")

In [72]:
My_func(2.0,5.2,6.2)

70.68

In [73]:
My_func(-3.0,5.0,-2.0)

Not a number - denominator equals zero

In [74]:
My_func("six",5.0,2.0)

None

In [75]:
My_func("one","two","three")

None

In [76]:
My_func(1.8,6,3.0)

Error: parameters should be a float

In [77]:
My_func(18,6,500)

Error: parameters should be a float

### Q2

In [108]:
def revword(word:str):
    word = word[::-1]
    word = word.lower()
    return word

def countword():
    file = open('text.txt', 'r')
    lst = list()
    count = 1
    for line in file:
        lines = line.rstrip().split()
        if len(lst) == 0:
            word = lines[0]
            lst.append(lines)
            #print(lst)
        else:
            for singleword in lines:
                reverse = revword(singleword)
                #print(reverse)
                if reverse == word:
                    count = count+1
                    
    print("The number of times the first word in the text appears is:", count)
    
countword()

The number of times the first word in the text appears is: 6